<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranoba politics</title>
</head>
<body>
    Пользовательское соглашение
    Дата обновления: 30.11.2022
    <br>
    Настоящее пользовательское соглашение (далее – «Соглашение») является публичной офертой, адресованной неограниченному кругу лиц, с предложением заключить договор на изложенных ниже условиях.
    <br>
    <h3>1. ТЕРМИНЫ, ИСПОЛЬЗУЕМЫЕ В НАСТОЯЩЕМ СОГЛАШЕНИИ</h3>
    <br>
    1.1. Сайт – информационный ресурс, расположенный в информационно-телекоммуникационной сети общего пользования «Интернет» по уникальному сетевому адресу в виде доменного имени второго уровня mangalib.me, включая как существующие на момент принятия условий настоящего соглашения, так и вводимые в действие в будущем в течение всего срока существования поддомены (субдомены) нижних уровней указанного домена второго уровня, включая поддомен WWW, дополнительные доменные имена а также все связанные с указанным ресурсом программы для ЭВМ и базы данных, обеспечивающие его функционирование, а также иные (технические) домены.
    <br>
    1.2. Администрация, является администратором доменного имени второго уровня mangalib.me.
    <br>
    1.3. Пользователь – любое физическое лицо, использующее Функционал Сайта. Пользователь вправе пройти процедуру регистрации для создания Личного кабинета и получения дополнительных возможностей, предусмотренных Соглашением.
    <br>
    1.3. Переводчик – Пользователь или группа Пользователей имеющая возможность публиковать материалы на Сайте.
    <br>
    1.4. Регистрация — процесс предоставления Пользователем индивидуально-определяющей его информации в виде регистрационных данных и обработки этой информации сервисами Сайта, в результате которой на Сайте создаётся уникальная учётная запись Пользователя.
    <br>
    1.5. Материалы — любые произведения науки, литературы или искусства, размещаемые на Сайте Администрацией или Пользователями, в частности изображения, литературные произведения (в том числе их отдельные элементы, переводы и иные производные произведения) и другие произведения.
    <br>
    1.6. Перевод – размещаемое Переводчиком на Сайте производное литературное произведение, входящее в состав Материалов Сайта, которое может состоять из множества частей (в частности глав), но учитывается на Сайте как единый объект.
    <br>
    1.7. Учётная запись (аккаунт) — уникальная совокупность регистрационных данных (Логина и Пароля) Пользователя, являющаяся средством аутентификации Пользователя на Сайте, необходимая для возможности использования Пользователем Функционала Сайта в полном объеме.
    <br>
    1.8. Логин — уникальное имя Учётной записи, определяемое Пользователем.
    <br>
    1.9. Пароль — секретный набор символов, определяемых Пользователем, служащий для возможности индивидуального использования Пользователем Учётной записи на Сайте.
    <br>
    1.10. Функционал Сайта — совокупность заложенных в Сайте программных возможностей.
    <br>
    1.11. Модерация — просмотр Администрацией, размещаемой (или планируемой к размещению — Премодерация) на Сайте Пользователем информации на предмет ее соответствия положениям Соглашения. Модерация не является обязанностью Администратора.
    <br>
    <h3>2. ОСНОВНЫЕ ПОЛОЖЕНИЯ</h3>
    <br>
    2.1. Администрация предоставляет Пользователю право использовать Функционал Сайта в порядке и на условиях, изложенных в настоящем Соглашении.
    <br>
    2.2. Пользователь обязуется внимательно ознакомиться с содержанием настоящего Соглашения и следовать ему.
    <br>
    2.3. Соглашение может быть изменено Администрацией как с уведомлением Пользователя, так и без какого-либо специального уведомления Пользователя в любое время в одностороннем порядке.
    <br>
    2.4. Действующая редакция Соглашения находится на Сайте по адресу  https://mangalib.me/news/polzovatelskoe-soglasenie. В случае изменения основного доменного имени Сайта (включая поддомены), указанный адрес также может быть изменён соответствующим образом.
    <br>
    2.5. Новая редакция Соглашения вступает в силу и применяется незамедлительно после её размещения Администрацией по адресу, указанному в п. 2.4 настоящего Соглашения, если иное не предусмотрено в тексте новой редакции Соглашения.
    <br>
    2.6. Пользователь считается полностью и безоговорочно принявшим условия Соглашения в случае совершения любого из указанных действий, являющихся акцептом оферты:
    <br>
    2.6.1. Использование Функционала Сайта любыми способами, в том числе способами, предусмотренными настоящим Соглашением и действующим законодательством Российской Федерации;
    <br>
    2.6.2. Прохождение процедуры Регистрации на Сайте.
    <br>
    2.7. Принятие условий Соглашения возможно лишь в полном объёме, без каких-либо оговорок и исключений.
    <br>
    2.8. Пользователь, не согласный с условиями Соглашения, не вправе использовать Сайт.
    <br>
    2.9. В случае, если в Соглашение были внесены изменения, с принятием которых Пользователь не согласен, Пользователь не вправе далее использовать Сайт, и обязан прекратить любое дальнейшее использование Сайта.
    <br>
    2.10. К настоящему Соглашению и возникающими в результате использования Сайта отношениями между сторонами применяется право Российской Федерации.
    <br>
    2.11. В случае изменения основного доменного имени Сайта на иное, условия Соглашения и объём правомочий Сторон не изменяются.
    <br>
    <h3>3. РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ</h3>
    <br>
    3.1. Для использования Функционала Сайта в полном объёме, Пользователь проходит Регистрацию.
    <br>
    3.2. Для целей Регистрации Пользователь обязан Предоставлять полную, достаточную и достоверную информацию о себе по вопросам, указанным в регистрационной форме. Все поля регистрационной формы обязательны для заполнения.
    <br>
    3.3. Пользователю запрещается:
    <br>
    3.3.1. предоставлять недостоверные регистрационные данные;
    <br>
    3.3.2. проходить процедуру Регистрации от имени другого лица за исключением случаев, когда это лицо уполномочено совершить указанные действия от его имени;
    <br>
    3.3.3. проходить процедуру Регистрации повторно после удаления Администрацией Учетной записи Пользователя;
    <br>
    3.3.4. проходить процедуру Регистрации повторно при наличии активной Учетной записи.
    <br>
    3.4. Администрация вправе отказать в создании Учетной записи без объяснения причин и/или удалить Учётную запись Пользователя в случаях несоблюдения условий Соглашения.
    <br>
    3.5. Пользователь самостоятельно несёт ответственность за сохранность своего Логина и Пароля и не вправе передавать эти данные третьим лицам.
    <br>
    3.6. В случае обнаружения Пользователем активности третьих лиц с использованием Логина и Пароля Пользователя или подозрении о компрометации связки Логина и Пароля Пользователя, он обязан незамедлительно сообщить об этом Администрации путём отправления сообщения на электронный почтовый адрес info@mangalib.me.
    <br>
    3.7. Действия, совершённые с использованием Логина и Пароля Пользователя, предполагаются совершёнными Пользователем, пока не доказано обратное, за исключением случаев, когда Пользователь заблаговременно уведомил Администрацию о компрометации Логина и Пароля.
    <br>
    3.8. В случае получения уведомления от Пользователя, предусмотренного п. 3.6 Соглашения, Администрация в течение 72 часов с момента такого уведомления блокирует Учётную запись Пользователя. Для разблокировки Учётной записи и направления Пользователю нового Пароля, Администрация вправе запросить дополнительные данные в целях идентификации Пользователя.
    <br>
    <h3>4. ПРАВА И ОБЯЗАННОСТИ ПОЛЬЗОВАТЕЛЯ</h3>
    <br>
    4.1. Незарегистрированный Пользователь вправе:
    <br>
    4.1.1. просматривать Материалы, размещённые Администрацией и зарегистрированными Пользователями;
    <br>
    4.1.2. скачивать Материалы, размещенные зарегистрированными Пользователями, за исключением случаев, когда возможность просмотра и/или скачивания Материалов была ограничена Пользователем, разместившим Материалы.
    <br>
    4.2. Зарегистрированный Пользователь, кроме прав, предоставленных незарегистрированному Пользователю, вправе:
    <br>
    4.2.1. размещать Материалы на Сайте;
    <br>
    4.2.2. удалять самостоятельно размещенные Материалы;
    <br>
    4.2.3. оставлять комментарии к Материалам;
    <br>
    4.2.4. осуществлять редактирование самостоятельно размещенных Материалов и предоставлять другим Пользователям доступ к редактированию таких Материалов;
    <br>
    4.2.5. осуществлять редактирование Материалов, размещенных другими Пользователями, при условии предоставления ими соответствующего доступа;
    <br>
    4.2.6. использовать иные возможности Сайта на основании настоящего Соглашения.
    <br>
    4.3. Пользователю запрещено:
    <br>
    4.3.1. вмешиваться в работу Сайта с целью нарушения его нормального функционирования;
    <br>
    4.3.2. осуществлять массовые рассылки сообщений другим Пользователям;
    <br>
    4.3.3. использовать Сайт и Материалы вне предоставленных настоящим Соглашением полномочий или вне рамок Функционала, для которого он предназначен;
    <br>
    4.3.4. собирать и обрабатывать персональные данные других Пользователей с использованием Сайта;
    <br>
    4.3.5. дублировать размещенные собой или другими Пользователями Материалы;
    <br>
    4.3.6. размещать на Сайте информацию и Материалы, которые:
    <br>
    4.3.6.1. порочат честь, достоинство или деловую репутацию других Пользователей или третьих лиц;
    <br>
    4.3.6.2. содержат призывы к насилию, пропагандирует дискриминацию людей по расовому, этническому, половому, религиозному, социальному или иным признакам;
    <br>
    4.3.6.3. нарушают интеллектуальные права Пользователей или третьих лиц;
    <br>
    4.3.6.4. любым иным образом нарушают законодательство Российской Федерации или нормы международного права.
    <br>
    4.4. Пользователь обязан:
    <br>
    4.4.1. соблюдать положения действующего законодательства Российской Федерации, условия настоящего Соглашения;
    <br>
    4.4.2. поддерживать актуальность указанной при Регистрации информации;
    <br>
    4.4.3. незамедлительно информировать Администрацию об осуществлении Пользователями запрещенной настоящим Соглашением деятельности.
    <br>
    4.5. Администрация вправе по своему усмотрению без предупреждения Пользователя:
    <br>
    4.5.1. изменять и/или удалять комментарии и Материалы Пользователя, в частности по причине размещения их с нарушением условий настоящего Соглашения, законодательства Российской Федерации.
    <br>
    4.5.2. ограничить возможность комментирования, размещения Материалов.
    <br>
    <h3>5. ИНТЕЛЛЕКТУАЛЬНЫЕ ПРАВА</h3>
    <br>
    5.1. Базы данных и программный код Сайта, Материалы Сайта, размещённые Администрацией (как видимые для Пользователя, так и не видимые без выполнения специальных действий как правомерных, так и нет), являются результатами интеллектуальной деятельности Администрации или иных правообладателей, которые заключили соглашение с Администрацией, дающее Администрации право размещать указанные объекты интеллектуальной собственности на Сайте или в его составе, и охраняются в соответствии с действующим законодательством Российской Федерации.
    <br>
    5.2. Администрация предоставляет Пользователю только право функционального использования Сайта в пределах его Функционала, в объеме, не требующем по законодательству Российской Федерации обладания исключительными правами на Сайт или элементы Сайта.
    <br>
    5.3. Использование Сайта, в том числе входящих в его состав программ для ЭВМ, баз данных и Материалов, размещенных Администрацией, любыми способами, в том числе путем воспроизведения, декомпиляции, модификации, распространения, публичного показа, доведения до всеобщего сведения, строго запрещены. Администрация не предоставляет Пользователю исключительных прав.
    <br>
    5.4. Пользователь не вправе размещать каким-либо образом на Сайте Материалы, представляющие собой или включающие результаты интеллектуальной деятельности или средства индивидуализации третьих лиц за исключением тех случаев, когда ему предоставлено соответствующее право либо исключительное право на соответствующий результат интеллектуальной деятельности истекло. При опубликовании любых Материалов на Сайте, Пользователь гарантирует, что указанные действия совершаются правомерно:
    <br>
    5.4.1. в соответствии с положениями о свободном использовании без согласия автора или иного правообладателя и выплаты вознаграждения;
    <br>
    5.4.2. либо Пользователю было предоставлено указанное право действительным правообладателем используемых результатов интеллектуальной деятельности.
    <br>
    5.5. Размещая на Сайте Материалы, Пользователь самостоятельно по своей воле осуществляет их воспроизведение, публичный показ и/или доведение до всеобщего сведения с использованием Функционала Сайта.
    <br>
    5.6. При опубликовании на Сайте Материалов или иных любых результатов интеллектуальной деятельности, правообладателем которых является Пользователь, он предоставляет Администрации простую неисключительную лицензию на использование этих результатов следующими способами:
    <br>
    5.6.1. воспроизведение (копирование),
    <br>
    5.6.2. распространение путём продажи или иного отчуждения экземпляров,
    <br>
    5.6.3. использование в составе сложного произведения,
    <br>
    5.6.4. перевод или иную переработку (изменение),
    <br>
    5.6.5. доведение до всеобщего сведения,
    <br>
    5.6.6. использование любыми иными способами для целей работы Сайта.
    <br>
    5.7. Указанные в п. 6.6 права предоставляются безвозмездно на весь срок действия исключительного права на результат интеллектуальной деятельности без каких-либо территориальных или иных пространственных ограничений с правом выдачи сублицензий.
    <br>
    5.8. Удаление Учётной записи Пользователя не влечет прекращения действия простой неисключительной лицензии, предоставляемой Пользователем Администрации.
    <br>
    5.9. Пользователь имеет право бесплатно осуществлять личное некоммерческое использование любых доступных для него Материалов, размещенных другими Пользователями, при условии соблюдения личных неимущественных прав авторов таких Материалов, в объёме, не требующем по законодательству Российской обладания исключительными правами на Материалы.
    <br>
    <h3>6. ОГРАНИЧЕНИЕ ОТВЕТСТВЕННОСТИ</h3>
    <br>
    6.1. Администрация не гарантирует и не может гарантировать, что работоспособность Сайта будет осуществляться непрерывно, без задержек, сбоев и вся предоставленная информация будет отображаться достоверно.
    <br>
    6.2. Пользователь использует функционал Сайта на свой риск. Весь функционал предоставляется «как есть» (as is) без каких-либо явных или подразумеваемых гарантий. Сохранность пользовательской информации не гарантируется.
    <br>
    6.3. Администрация ни при каких обстоятельствах не может нести ответственность за содержание и негативные последствия использования (в том числе просмотра, сохранения веб-страниц) сторонних ресурсов, ссылки на которые присутствуют на Сайте.
    <br>
    6.4. Администрация не несёт ответственность перед Пользователем за любой косвенный, случайный, неумышленный ущерб, в том числе упущенную выгоду, утраченные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием Сайта, содержимого Сайта или иных материалов, к которым Пользователь или иные лица получили доступ с помощью Сайта.
    <br>
    6.5. Администрация не несёт ответственности за действия Пользователей или платёжных систем, которые могут привести к потере или некорректному зачислению денежных средств при пополнении Баланса или выводе денежных средств.
    <br>
    6.6. Администрация принимает все меры для соблюдения прав на результаты интеллектуальной деятельности третьих лиц, вместе с тем, поскольку Сайт допускает наличие созданного Пользователями контента (User-Generated Content), Премодерация которого невозможна и не осуществляется, то оперативное удаление Материалов, нарушающих интеллектуальные или иные права может быть затруднено.
    <br>
    6.7. По требованию правообладателей результатов интеллектуальной деятельности или средств индивидуализации, неправомерно размещённых или иным образом использованных на Сайте, а также по собственной инициативе при наличии сведений о нарушении интеллектуальных прав, Администрация незамедлительно удаляет размещённые Пользователями Материалы, содержащие указанные объекты интеллектуальных прав.
    <br>
    6.8. Для получения доступа к некоторым функциям Сайта Пользователь должен зарегистрировать Учетную запись, следуя инструкции, размещенной на Сайте. Регистрация Учетной записи Пользователя означает, что Пользователь обладает полной дееспособностью для принятия настоящего Соглашения, т.е. достиг 18-ти летнего возраста.
    <br>
    6.9. Пользователь обязуется предоставлять достоверные данные и обязуется обеспечить точность, полноту и актуальность предоставленных данных. В случае нарушения данного обязательства Сайт не несет ответственности за ненадлежаще оказанные услуги вследствие предоставления недостоверных данных. Сайт исходит из того, что предоставленные Пользователем данные являются достоверными.
    <br>
    6.10. Пользователь знает, и согласен с тем, что Ресурс имеет дело с материалами и данными, созданными третьими лицами и размещенными ими в сети Интернет на своих компьютерах и (или) серверах. Содержание и безопасность этих материалов не могут быть проконтролированы Администрацией Ресурса, поэтому последняя не несет ответственности.
    <br>
    6.11. В обязанности Ресурса НЕ ВХОДИТ контроль легальности или нелегальности передаваемой информации, определение прав собственности или законности передачи, приема или использования этой информации.
    <br>
    <h3>7. ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h3>
    <br>
    7.1. Пользователь выражает свое согласие на обработку Администрацией (и уполномоченными Администрацией лицами) его персональных данных, предоставленных Пользователем при регистрации, а также персональных данных, размещённых самостоятельно Пользователем в любой части Сайта, включая поддомены.
    <br>
    7.2. Обработка персональных данных Пользователя осуществляется в соответствии с действующим законодательством Российской Федерации.
    <br>
    7.3. Администрация принимает все возможные меры для защиты персональных данных Пользователя от неправомерного доступа третьих лиц.
    <br>
    <h3>8. СОГЛАСИЕ НА ПОЛУЧЕНИЕ УВЕДОМЛЕНИЙ</h3>
    <br>
    8.1. Пользователь выражает своё согласие на получение уведомлений посредством электронных сообщений на указанный Пользователем e-mail при регистрации.
    <br>
    8.2. Пользователь вправе отказаться от получения уведомлений посредством электронных сообщений посредством изменения настроек - снятия чекбоксов («галочек») для каждого способа уведомления в личном кабинете и сохранении настроек.
    <br>
    <h3>9. ИЗМЕНЕНИЕ НАСТОЯЩЕГО СОГЛАШЕНИЯ.</h3>
    <br>
    Администрация оставляет за собой право, по нашему усмотрению, вносить изменения, дополнения или удалять части настоящего Соглашения в любое время (например, для отражения обновлений Сервиса MangaLib или отражения изменений законодательства). Если Администрация вносит изменения в настоящее Соглашение, мы направим вам уведомление о таких изменениях путем размещения уведомления на веб-странице или указания новой даты последнего обновления выше. Следует периодически пересматривать настоящее Соглашение и Руководства на предмет таких изменений. Продолжение вами использования Сервиса MangaLib после размещения изменений представляет собой принятие вами таких изменений. В отношении любых существенных изменений настоящего Соглашения измененные условия автоматически вступают в силу по истечении тридцати дней после их первоначального размещения в Сервисе MangaLib, если Вы не предоставили Нам уведомление о расторжении в течение указанного периода.
    <br>
    <h3>10. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
    <br>
    10.1. Споры между сторонами подлежат разрешению в претензионном порядке.
    <br>
    10.2. Срок ответа на претензию составляет 10 рабочих дней с момента её получения стороной.
    <br>
    10.3. Бездействие со стороны Ресурса в случае нарушения Пользователем, либо группой Пользователей ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ не означает того, что Ресурс содействует Пользователю, либо группе Пользователей в таковых действиях.
    <br>
    10.4 Бездействие со стороны Ресурса в случае нарушения Пользователем либо группой Пользователей ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ не лишает Ресурс права предпринять соответствующие действия в защиту своих интересов позднее.
    <br>
    11. СОГЛАСИЕ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ
    <br>
    ЕСЛИ ВЫ НЕ СОГЛАСНЫ СO ВСЕМИ ВЫШЕУКАЗАННЫМИ УСЛОВИЯМИ, ВЫ НЕ ИМЕЕТЕ ПРАВА ПОСЕЩАТЬ РЕСУРС КАК В ЦЕЛОМ, ТАК И ЛЮБУЮ ЕГО ЧАСТЬ, КРОМЕ СТРАНИЦЫ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, ПОЛУЧАТЬ И/ИЛИ ИСПОЛЬЗОВАТЬ СОДЕРЖИМОЕ НАСТОЯЩЕГО РЕСУРСА ЛЮБЫМИ ДРУГИМИ СПОСОБАМИ КАК В ЦЕЛОМ ТАК И В ЛЮБОЙ ЕГО ЧАСТИ!
    <br>
    ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ПОЛЬЗОВАТЕЛЬСКИМ СОГЛАШЕНИЕМ, ВЫ ДОЛЖНЫ НЕМЕДЛЕННО ПОКИНУТЬ РЕСУРС.
</body>
</html>